<form [formGroup]="signupForm" (ngSubmit)="submit()">
    <div>
      <label for="username">Username:</label>
      <input id="username" formControlName="username" required>
      <div *ngIf="signupForm.get('username')?.invalid && signupForm .get('username')?.touched">
        Username is required.
      </div>
    </div>
  
    <div>
      <label for="password">Password:</label>
      <input type="password" id="password" formControlName="password" required>
      <div *ngIf="signupForm.get('password')?.invalid && signupForm.get('password')?.touched">
        Password is required.
      </div>
    </div>
  
    <div>
        <label for="email">email:</label>
        <input type="email" id="email" formControlName="email" required>
        <div *ngIf="signupForm.get('email')?.invalid && signupForm.get('email')?.touched">
          Password is required.
        </div>
      </div>
    <button type="submit">create user</button>
  </form>
  
